{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}

  <h1>Home</h1>

  <p>This is a template.</p>
  
  <!--Add button for start (start should link to page1) and login/logout
  {% if logged_in %}
	    	<li><span class="navbar-text">Github userid: {{ session['user_data']['login']}}</span></li>
	    	<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
		{% else %}
	    	<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
		{% endif %}
  -->

{% endblock %}
